<body class="mulish-fonte">
    <header>
        <button id="botao-seta-voltar" (click)="voltar()"><mat-icon>arrow_back_ios</mat-icon></button>
    </header>

    <main>
        <h1>CARRINHO</h1>
        <div *ngFor="let dish of cart; let last = last" class="cardapio">
            <div class="botao-item-cardapio">
                <div class="dish-nome">
                    <h2>{{ dish.name }}</h2>
                    
                    <div class="dish-info">
                        <p class="dish-descricao">{{ dish.description }}</p>
                        <p class="dish-preco">{{ dish.price | currency:'BRL' }}</p>
                    </div>
                </div>
                <button (click)="removeFromCart(dish.id)" class="deletar">🗑️</button>
            </div>
            <div *ngIf="!last" class="linha-separadora"></div>
        </div>
    </main>

    <footer class="botao-rodape">
        <h3>Total: {{ total | currency:'BRL' }}</h3>
        <button id="finalizar-pedido" (click)="finalizar()" [disabled]="cart.length === 0">Finalizar</button>
    </footer>
</body>