#corpo {
    box-sizing: border-box;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
}

header {

    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 31px;
    gap: 20px;
    align-items: center;

}

section {
    margin-left: 20px;
    margin-top: 31px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botoes {
   max-width: fit-content;
    align-items: center;
    padding-bottom: 31px;
    padding-left: 10px;
    justify-content: space-between;

}

header h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    font-weight: bold;
}

header p {

    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

button {
    max-width: 414px;
    width: 100%;
    background-color: var(--fundo-secundario-cinza);
    border: none;
    border-radius: 15px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

button h2 {
    font-size: 35px;
    margin: 0;
}



.card {
    max-width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
  }
  
  .card:before, .card:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .card:after {
    filter: blur(100px);
  }
  
  