<section id="corpo">
    <header class="navbar">
        <div class="itens-header">
            <button (click)="voltar()"><mat-icon>arrow_back_ios</mat-icon></button>
            <h1>CARDÁPIO</h1>
        </div>
    </header>

    <main>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <p>Executivos</p>
            </div>
            <div class="card-back">
              <p>Back Side</p>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-inner">
              <div class="card-front">
                <p>Executivos</p>
              </div>
              <div class="card-back">
                <p>Back Side</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-inner">
              <div class="card-front">
                <p>Executivos</p>
              </div>
              <div class="card-back">
                <p>Back Side</p>
              </div>
            </div>
          </div>
    </main>
    <footer class="carrinho" (click)="irParaCarrinho()">
        <button id="botao-carrinho">
            <span>Carrinho</span>
            <mat-icon aria-hidden="false" matBadge="5" matBadgeColor="accent" matBadgeOverlap="false">
                shopping_cart
            </mat-icon>
        </button>
    </footer>
</section>