* {
    color: var(--branco-figma);
    box-sizing: border-box;
}

header {
    margin: auto;
    max-width: 414px;
    padding: 16px 24px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

#cardapio {
    max-width: 850px;
    width: 100%;
}

#cardapio h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    margin-bottom: 38px;
}

#corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    padding-top: 16px;
    padding-bottom: 100px;
}

#botoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 850px;
}

#botao {
    background-color: var(--fundo-telas);
    height: auto;
    width: 100%;
    max-width: 850px;
    min-width: 300px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    gap: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
}

#botao img {
    margin-left: auto;
    border-radius: 50%;
}

#botao:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
}
  
#botao:hover:before {
    background-color: #fff;
    width: 3rem;
}


#botao h1 {
    font-size: 40px;
    margin: 0;
}

#botao-seta-voltar {
    position: absolute;
    left: 28px;
    background-color: var(--fundo-telas);
    border: none;
    padding-top: 25px;
    color: #ffffff;
    cursor: pointer;
}

img {
    max-width: 100px;
    width: auto;
    height: auto;
    object-fit: cover;
}

footer.carrinho {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cinza-figma);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

#botao-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-figma);
    color: white;
    font-size: 25px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 850px;
    text-align: center;
    box-sizing: border-box;
    gap: 10px;
}

footer.carrinho mat-icon {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}