body {
    font-family: 'Mulish', sans-serif;
    background-image: url('../../images/restaurante.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

main {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.nav {

    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    &
    .boas-vindas {
        flex-direction: row;
        margin-left: 20px;
        margin-top: 31px;
    }
    &
    .boas-vindas h1 {
        
        gap: 5px;
        font-size: 70px;
        font-weight: 600;
        color: #ffffff;
    }
    &
    .boas-vindas p {
        font-size: 25px;
        font-weight: 500;
        color: #ffffff;
    }
    &
    #botoes {
        width: fit-content;
        align-items: end;
        margin-right: 50px;
        margin-block: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-right: 3px ridge white;
        padding-right: 30px;
    }
    &
    img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
    }
    &
    button {
        min-width: 414px;
        max-width: 850px;
        width: 100%;
        border: 2px solid white;
        background-color: #ffffff00;
        backdrop-filter: blur(5px);
        border-radius: 15px;
        display: flex;
        color: #ffffff;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    
    }
    &
    button:before {
    
        content: "";
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        transition: all .42s cubic-bezier(.25,.8,.25,1);
        width: 0;
    }
      &
    button:hover:before {
        background-color: #fff;
        width: 3rem;
    }
    &
    button h1 {
        font-size: 40px;
        margin: 0;
    }
    
}
.dashboard {
    width: 818px;
    height: auto;
    margin: 50px 100px 50px 50px;
    &

    .estoque {
        border: 1px solid white;

        width: 300px;    
        height: 200px;
        margin-top: 75px;
        justify-content: center;
        border-radius: 30px;
        backdrop-filter: blur(5px);
        align-items: center;

        &
        h1 {
            color: white;
            font-size: 30px;
            padding: 10px;
        }

        &
        h2 {
            color: #ffffff;
            font-size: 80px;
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }

        
    }
}


@media(min-width: 930px) {
    header {
        display: flex;
    }
}