<section class="body">
<header class="navbar">
    <nav class="botoes">
        <button (click)="irParaCardapio()">
            Cardapio
        </button>
    
        <button (click)="irParaCozinha()">
            Cozinha
        </button>
    
        <button (click)="irParaEntregador()">
            Entregador
        </button>
    
        <button (click)="irParaGerencia()">
            Gerência
        </button>
    </nav>
    
</header>
<main>
    <section class="dashboard">
        <div class="estoque">
            <h1>Pratos cadastrados:</h1>
            <h2>{{totalDishes}}</h2>
        </div>
        <div class="estoque">
            <h1>Fora de estoque</h1>
            <h2>{{totalDishes}}</h2>
        </div>
        <div class="estoque">
            <h1>Em preparo</h1>
            <h2>{{totalDishes}}</h2>
        </div>
        <div class="estoque">
            <h1>Entregue</h1>
            <h2>{{totalDishes}}</h2>
        </div>
    </section>
    <section class="longa">
        <div class="retirada">
            <h1>Aguardando retirada</h1>
            <h2>- Pedido de cliente</h2>
        </div>
        <div class="retirada">
            <h1>Motoboy disponível</h1>
            <h2>nome motoboy</h2>
        </div>
    </section>
</main>


</section>


  