header {
    margin: auto;
    max-width: 414px;
    padding: 16px 24px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.voltar {
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    max-width: 134px;
    width: 100%;
    height: 32px;
    color: #ffff;
    background-color: #595E65;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#ver-pedidos {
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    max-width: 134px;
    width: 100%;
    height: 32px;
    color: #ffff;
    background-color: #595E65;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

body {

    max-width: 414px;
    margin: auto;
    text-align: center;
    font-family: "Mulish", sans-serif;
    color: #ffff;
}

.cardapio {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dish-nome h2{
    margin: auto;
    width: 100%;
    font-size: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.dish-info {
    margin: 0;
    display: flex;
    flex-direction: column; 
    font-size: 12px;
}

.cardapio img {
    max-width: 100px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.botao-item-cardapio {
    line-height: 1.2; 
    margin: 14px;
    justify-content: space-between;
    display: flex;
    align-items: center;

    color: white;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    gap: 20px;
    background-color: var(--fundo-telas);
}

.cardapio div {
    align-items: flex-start;
}

.mulish-fonte {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
}

.dish-descricao {
    font-size: 12px;
    text-align: left;
    margin-top: auto;
}

.dish-preco {
    font-size: 15px;
    text-align: left;
    margin-top: auto;
}

.linha-separadora {
    height: 1px;
    background-color: #ccc;
    margin: auto;
    width: 80%;
}

footer.carrinho {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cinza-figma);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

#botao-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-figma);
    color: white;
    font-size: 25px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 850px;
    text-align: center;
    box-sizing: border-box;
    gap: 10px;
}

footer.carrinho mat-icon {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

main {
    padding-bottom: 90px;
}

#botao-seta-voltar {
    position: absolute;
    left: 28px;
    background-color: var(--fundo-telas);
    border: none;
    padding-top: 25px;
    color: #ffffff;
}