<section>
  <header>
    <button id="botao-seta-voltar" (click)="voltar()"><mat-icon>arrow_back_ios</mat-icon></button>
  </header>

  <body>
    <h1>Gerência</h1>
      <div class="gerencia-container">
        <button (click)="irParaCardapio()" class="botao-gerencia">Gerenciar cardápio</button>
        <button (click)="irParaPedidos()" class="botao-gerencia">Gerenciar entregas</button>
        <button (click)="irParaEntregadores()" class="botao-gerencia">Gerenciar entregadores</button>
        <button (click)="irParaTodosOsPedidos()" class="botao-gerencia">Gerenciar pedidos</button>
      </div>
  </body>
</section>