header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

html, .body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.body {
    background-color: var(--fundo-telas);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Mulish", sans-serif;
    color: #ffffff;
    min-height: 100%;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
}

.body h1 {
    font-size: 30px;
    font-family: Mulish, sans-serif;
    font-weight: 700;
    margin-top: 60px;
    text-align: center;
    height: auto;
}

.pedido-lista {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    height: auto;
}
  
h1 {
    color: #ffffff;
    font: 32px Mulish, sans-serif;
    margin: 21.44px 0px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.opcoes {
    margin: 20px;
}

.opcoes-botoes {
    gap: 5px;
    justify-content: center;
    display: flex;
}

.opcoes-botoes button {
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.opcoes-botoes button:hover {
    background-color: #ddd;
}

.opcoes-botoes button.ativo {
    background-color: var(--laranja-figma);
    color: #fff;
    border-color: var(--laranja-figma);
    /* font-weight: bold; */
    padding: 10px 15px;
}

  
.pedido-item {
    width: calc(100% - 40px);
    max-width: 560px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    background: var(--laranja-figma);
    transition: background-color 0.3s ease;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
                0 0 0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.pedido-item:hover {
    background-color: #f9f9f9;
    color: black;
}
  
p {
    margin: 5px 0;
}

#botao-seta-voltar {
    position: absolute;
    left: 28px;
    background-color: var(--fundo-telas);
    border: none;
    padding-top: 25px;
    color: #ffffff;
    cursor: pointer;
}