<body class="mulish-fonte">
    <nav>
        <ol class="breadcrumb">
          <li *ngFor="let breadcrumb of breadcrumbs; let last = last" 
              class="breadcrumb-item" 
              [ngClass]="{ 'active': last }">
            <a *ngIf="!last; else lastBreadcrumb" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
            <ng-template #lastBreadcrumb>{{ breadcrumb.label }}</ng-template>
          </li>
        </ol>
      </nav>

    <main>
        EXECUTIVOS
        <div *ngFor="let dish of dishes; let last = last" class="cardapio">
            <button (click)="verDetalhes(dish.id)" class="botao-item-cardapio">
                <div class="dish-nome">
                    <h2>{{ dish.name }}</h2>
                    <div class="dish-info">
                        <p class="dish-descricao">{{ dish.description }}</p>
                        <p class="dish-preco">{{ dish.price | currency:'BRL'}}</p>
                    </div>
                </div>
                <img [src]="dish.image" alt="{{ dish.name }}" class="dish-image" />
            </button>
            <div *ngIf="!last" class="linha-separadora"></div>
        </div>

        <footer *ngIf="cartHasItems" class="carrinho" (click)="irParaCarrinho()">
            <button id="botao-carrinho">
                <span>Carrinho</span>
                <mat-icon matBadge="{{ totalItens }}" matBadgeColor="accent" matBadgeOverlap="false">shopping_cart</mat-icon>
            </button>
        </footer>
    </main>
</body>